<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.titanmusicplayer"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="me.noslo.titanmobile.MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="me.noslo.titanmobile.MediaPlayerActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MUSICPLAYER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="me.noslo.titanmobile.BrowseLibraryActivity"
            android:label="@string/library"
            android:parentActivityName="me.noslo.titanmobile.MediaPlayerActivity" >
            <intent-filter>
                <action android:name="android.intent.action.BROWSELIBRARY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="me.noslo.titanmobile.BrowseArtistsActivity"
            android:label="@string/artists"
            android:parentActivityName="me.noslo.titanmobile.MediaPlayerActivity" >
            <intent-filter>
                <action android:name="android.intent.action.BROWSEARTISTS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="me.noslo.titanmobile.BrowseAlbumsActivity"
            android:label="@string/albums"
            android:parentActivityName="me.noslo.titanmobile.MediaPlayerActivity" >
            <intent-filter>
                <action android:name="android.intent.action.BROWSEALBUMS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="me.noslo.titanmobile.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
    </application>

</manifest>